@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
	filter: alpha(opacity=0); /* For IE8 and earlier */
  }
  100% {
    opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
  }
}

body {
	margin-top: 0px;
	overflow-x: hidden;
}

div.page-info-middle {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #DDDDDD;
	padding: 50px;
	padding-top: 98px;
	background-image: url('../imgs/temp_bg.jpg');
	background-size: 100% 400%;
	background-repeat: no-repeat;
	background-color: #BBAABB;
	text-align: center;
	margin: 0px;
}

.container-fluid {
	animation: 1s ease-out 0s 1 slideInFromBottom;
}

.welcome {
	animation: 1s ease-in-out 0s 1 fadeIn
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
	float: right;
	text-align: right;
	font-family: 'Roboto', sans-serif !important;
	transition: color 2s ease-in-out;
	transition: background-color 1s ease-in-out;
}

.live {
	text-align: center;
	background-color: #EEEEEE;
	animation: 5s ease-in-out 0s 1 fadeIn;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	font-family: 'Roboto', sans-serif !important;
    background-color: #444444;
    color: #AA88BB;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu {
	font-family: 'Roboto', sans-serif !important;
    background-color: #333333;
    color: #AA88BB;
 }

 .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
	font-family: 'Roboto', sans-serif !important;
    background-color: #444444;
    color: white;
	transition: color 2s ease-in-out;
	transition: background-color 1s ease-in-out;
 }

 .jumbotron {
	 background-color: #55555 !important;
 }

 .dropdown-menu > li > a {
	font-family: 'Roboto', sans-serif !important;
    background-color: #555555;
	color: #AA88BB;
    background-image: none;
}

.dropdown-menu > li > a:hover {
	font-family: 'Roboto', sans-serif !important;
    background-color: #888888;
	color: #AA88BB;
    background-image: none;
}

.welcome {
	text-align: center;
}

.list-item {
	transition: background-color 1s;
}

.list-item img {
	background-color: transparent;
}

.list-item:hover {
	background-color: #DDDDDD;
}

.list-item {
	font-family: 'Roboto', sans-serif !important;
	text-align: center;
	cursor: pointer;
	padding: 8px 18px;
	border: 1px solid #111111;
	position: relative;
	color: black;
}

.list-item:hover {
	text: bold;
}

.form {
	display: inline;
}

.input {
	display: inline;
}

.list-item a:link {
	color: blue;
}


.btn a:visited {
	color: blue;
}

.btn a:hover {
	top: -2px;
	text: bold;
}

.btn a:link {
	color: black;
}

.btn a:visited {
	color: black;
}

.btn a {
	text-align: center;
	cursor: pointer;
	padding: 8px 18px;
	border: 1px solid #111111;
	position: relative;
	color: black;
}

div.discord {
	background-color: #7289DA;
	color: white;
	position: relative;
	left: 0px;
	transition: left .5s ease-out, .25s ease-out;
	z-index: 9999;
}

div.discordBlocks {
	margin-bottom: -147px;
}

div.DiscordDrawer {
	position: relative;
	top: -147px;
	padding: 0px;
	width: 95%;
	display: flex;
	flex-direction: row;
}

div.DiscordDrawer table {
	width: 95vw;
	color: white;
	padding: 0px;
	border: none;
}

div.DiscordDrawer div {
	flex-grow: 1;
	align-self: center;
}

div.DiscordDrawer div a {
	display: table;
	text-align: center;
	color: white;
	text-decoration: none;
	height: 147px;
	width: 100%;
}

div.DiscordDrawer div a div {
	display: table-cell;
	vertical-align: middle;
}
