@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    font-family: "Roboto";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

body {
    margin-top: 48px;
    margin-left: 0px;
    margin-right: 0px;
}

div.navbar {
    position: fixed;
    height: 48px;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.7);
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 99999;
}

div.navbarContent {
    display: flex;
    vertical-align: middle;
    width: 800px;
    overflow-x: auto;
}

div.navbarImage {
    display: flex;
    padding-top: calc(1em + 8px);
}

ul.navbarItems {
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}

ul.navbarItems a {
    text-decoration: none;
    display: block;
    padding: 14px;
    color: #fff;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    transition: .25s ease-out
}

ul.navbarItems a.selectedItem {
    background-color: #006400
}

ul.navbarItems a:hover {
    background-color: #000
}

div.warning {
    padding: 5px;
    padding-left: 100px;
    background-color: rgb(255, 100, 0);
}

div.blockContent {
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

div.blockContent * {
    padding: 0px;
    margin: 0px;
}

div.blockContent h1 {
    margin-bottom: 10px;
}

div.blockLink {
    cursor: pointer;
    transition: .25s ease-out;
}

div.blockLink:hover {
    padding-left: 150px;
}

a.login {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0px;
    top: 0px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a.login:hover {
    background-color: black;
}

div.loginCredentials {
    display: block;
    position: fixed;
    top: -248px;
    height: 200px;
    padding-top: 48px;
    padding-left: 100px;
    transition: .5s ease-out;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 0;
}

div.loginCredentials form {
    display: flex;
    flex-direction: column;
}

div.loginCredentials.open {
    top: 0px;
}

div.loginCredentials div.loginButton {
    display: inline-block;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(0, 150, 255);
    color: white;
}

div.loginCredentials div.loginButton:hover {
    background-color: rgb(0, 200, 255);
}

div.loginCredentials div.loginButton:active {
    background-color: rgb(0, 100, 255);
}
